<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245907146000-g1cprd0p2j6apacjgd6tm1f6hm4p9v5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245907146000-g1cprd0p2j6apacjgd6tm1f6hm4p9v5n</string>
	<key>API_KEY</key>
	<string>AIzaSyAc19kMRppjheYkIz2ARWYKSsVsI0ReBJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>245907146000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.euimin.TableView</string>
	<key>PROJECT_ID</key>
	<string>messageapp-e4f84</string>
	<key>STORAGE_BUCKET</key>
	<string>messageapp-e4f84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245907146000:ios:f39bf28b8670643f0f1195</string>
</dict>
</plist>